.testimonial_container{
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    
}
.testimonial{
    background: var(--color-bg-varient);
    margin: 0 auto;
    padding: 1rem 0 3rem 0;
    border-radius: 6%;
}
.client_avator {
    width: 12%;
    margin: 0 auto;
}
.client_avator img{
    border-radius: 50%;
}
.testimonial_content{
  width: 70%;
  margin: 0 auto;
}
h4,p{
    text-align: center;
    margin: 0.8rem 0 0.8rem 0;
}


/* -------MEDIA QUERIES (MEDIUM DEVICES) ---------------- */
@media screen and (max-width: 1024px){
   .container.testimonial_container{
    width: 60%;
   }
   .client_avator{
    width: 15%;
}
    
    }
      
    @media screen and (max-width: 600px){
      .container .testimonial_container{
        width: var(--container-width-sm);
      }
      .client_avator{
        width: 20%;
    }
      
      
      }